node_modules/
*.pyc
.venv/
.DS_Store

uploads/*
__pycache__/
**/.env
*.env.*
*.zip
Dockerfile*
.dockerignore
*.docx

!.env.example
!uploads/avatars/
!uploads/avatars/user.webp

output
venv
.claude
.devin2