node_modules/
*.pyc
.venv/
.DS_Store

uploads/*
__pycache__/
**/.env
*.env.*
*.zip
Dockerfile*
docker-compose.yml
.dockerignore
*.docx
voice_agent/models/

!.env.example
!uploads/avatars/
!uploads/avatars/user.webp

output
venv
.claude
.devin